<div class="cd-card">
    <section class="infos">
        <h3>{{unCd.title|uppercase}}</h3>
        <p>Sortie le : {{unCd.dateDeSortie|date:'dd/MM/yyyy'}}</p>
        <p>Auteur : {{unCd.author}}</p>
        <p>Prix : {{unCd.price|currency:'EUR'}}</p>
        <p>
            En stock : <span [ngStyle]="{color:'rgb(0,'+unCd.quantite+',0)'}">{{unCd.quantite}}</span>
            <button (click)="onAddCd()">+</button>      
        </p>
    </section>
    <img [src]="unCd.thumbnail" [alt]="unCd.title">
</div>
